@media (max-width: 991.98px) {
  .nav-item {
    padding-bottom: 20px;
  }
  .navbar-nav .nav-item:first-child {
    padding-top: 30px;
  }

  .section-hero__des.des-1 {
    display: none;
  }
  .section-hero__des.des-2 {
    display: none;
  }
  .section-hero__btn-full-bio {
    display: none;
  }
  .section-hero__start-video {
    left: 30px;
    bottom: 50px;
  }
  .section-films__slider-wrapper {
    min-height: 150px;
  }
  .section-films .row {
    justify-content: center;
  }
  .section-moreinfo2__img-wrap {
    padding-top: 30px;
  }
  .section-moreinfo2 {
    padding: 40px 0 40px 0;
  }
  .section-coach__side-img {
    padding-top: 50px;
  }
  .section-coach__middle-line {
    border-left: 1px solid #979797;
    width: 1%;
  }

  .section-coach__controls {
    bottom: 0px;
  }
  .section-banner__text-wrap h1 {
    font-size: 50px;
    color: var(--tertiary-text-color);
  }
  .section-tvshow__topcard {
    width: 30%;
  }
  .section-tvshow__bottom-card {
    width: 100%;
  }
  .section-hero__video-wrap img {
    width: 600px;
    height: auto;
  }
  .section-hero h1 {
    font-size: 52px;
  }
  .section-hero h2 {
    font-size: 28px;
  }
  .section-hero p {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .section-hero__video-wrap img {
    bottom: -350px;
  }
  .section-about {
    padding: 250px 0px 150px 0px;
  }
  .section-privilage__img-wrap {
    margin-bottom: 100px;
  }
  .section-chormbook-mobile {
    display: flex;
    justify-content: center;
  }
  .section-chrombook__img-mobile {
    margin-bottom: 30px;
  }
  .section-chrombook h2,
  h1,
  p {
    text-align: center;
  }
}
