@charset "UTF-8";

body,
p,
span,
li,
a,
button,
input,
textarea {
  font-family: "Inter";
  color: var(--secondary-text-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter";
  color: var(--primary-text-color) !important ;
}

:root {
  /* Primary Colors */
  --primary-color: #497ff9;
  --primary-text-color: #0f0c2c;
  --secondary-text-color: #707190;
  --tertiary-text-color: #fff;
  --primary-bg-color: #fafbfd;

  /* Font Sizes */
  --font-large: 96px;
  --font-medium: 48px;
  --font-small: 16px;
  --font-extra-small: 14px;
}

.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--tertiary-text-color);
}
.navbar .navbar-brand img {
  max-width: 189px;
  height: auto;
}
.nav-link {
  color: var(--primary-text-color) !important;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 16px 0px 16px !important;
}
.request-demo-btn {
  display: flex;
  width: fit-content;
  height: auto;
  padding: 17px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  background: var(--primary-color);
  border: none;
}
.request-demo-btn a {
  text-decoration: none;
  color: var(--tertiary-text-color) !important;
  font-size: 14px;
  font-weight: 500;
}
/* section-hero */

.section-hero {
  height: 1140px;
  background-color: var(--primary-bg-color);
  position: relative;
  padding-top: 110px;
}

.section-hero__shape-maker-left {
  position: absolute;
  bottom: -1px;
  right: 0px;
}
.section-hero__shape-maker-right {
  position: absolute;
  bottom: -1px;
  left: 0px;
}
.section-hero h1 {
  color: var(--primary-color) !important;
  font-size: 96px;
  font-weight: 700;
  line-height: 104.34%;
  text-transform: uppercase;
}
.section-hero h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 104.34%;
}
.section-hero p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.section-hero__img-wrap img {
  width: 100%;
}
.section-hero .row {
  align-items: center;
}
.section-hero__video-wrap img {
  width: 1018.371px;
  height: 570px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: -550px;
}
.section-hero__video-wrap {
  padding-top: 90px;
}
/* section-about */
.section-about {
  padding: 500px 0px 150px 0px;
}
.tag {
  display: flex;
  padding: 16px 30px;
  justify-content: center;
  align-items: center;
  background-color: #f0f9ff;
  border-radius: 56px;
  color: var(--primary-color) !important;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  width: fit-content;
}
.section-about .row {
  justify-content: center;
}
.title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.des {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 0px;
  padding-bottom: 30px;
}
.des.v2 {
  padding-bottom: 60px;
}
.section-about__card {
  display: flex;
  height: 367px;
  padding: 67px 32px;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.section-about__icon-head {
  padding-bottom: 60px;
}
.section-about__card-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
}
.section-about__card-des {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.section-about__cards {
  padding-top: 60px;
}
/* section-privilage */
.section-privilage .row {
  justify-content: center;
}
.section-privilage {
  padding: 150px 0px;
}
.section-privilage__img-wrap img {
  width: 100%;
}
.section-privilage__sub-row {
  display: flex;
  gap: 120px;
}
.section-privilage__role {
  font-size: 16px;
  font-weight: 600;
}
.section-privileage__role-des {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.section-privilage__minitag1 {
  border-radius: 13px;
  background: #585afb;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.section-privilage__minitag2 {
  border-radius: 13px;
  background: #58cdfb;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.section-privilage__minitag3 {
  border-radius: 13px;
  background: #fbaf58;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.section-privilage__minitag4 {
  border-radius: 13px;
  background: #41b829;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.section-privilage__sub-row.first {
  padding-bottom: 60px;
}
.section-privilage__sub-container {
  width: 300px;
}
.section-chrombook__container {
  width: 80%;
  height: 558px;
}
.section-chrombook {
  padding: 160px 0px 250px 0px;
}
.section-chrombook__container {
  position: relative;
  display: flex;
  align-items: center;
}
.section-chrombook__content-wrap {
  position: absolute;
  top: 30%;
  right: 130px;
}
.section-chrombook h2 {
  color: var(--tertiary-text-color) !important;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0px;
}

.section-chrombook h1 {
  color: var(--tertiary-text-color) !important;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0px;
  padding-bottom: 12px;
}
.section-chrombook p {
  color: var(--tertiary-text-color) !important;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
}
.section-chrobook__gray-bg {
  width: 469px;
  height: 441px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-chrobook__gray-bg img {
  width: 90%;
  height: auto;
}
.section-chrombook__bg-img1 {
  position: absolute;
  right: 50px;
  top: 50px;
}
.section-chrombook__bg-img2 {
  position: absolute;
  right: 150px;
  top: 250px;
}
.section-usecase__navigation {
  padding: 40px 0px 60px 0px;
  justify-content: center;
}

.nav-buttons.actives {
  border-radius: 48px;
  border: 0.4px solid #497ff9;
  background: var(--primary-color);
  display: flex;
  width: 189px;
  height: 60px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  color: var(--tertiary-text-color) !important;
}

.nav-button.active {
  border-radius: 48px;
  border: 0.4px solid #497ff9;
  background: var(--primary-color);
  display: flex;
  width: 189px;
  height: 60px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  color: var(--tertiary-text-color) !important;
}
.nav-button {
  border-radius: 48px;
  border: 1px solid #d3d3d3;
  background: var(--primary-bg-color);
  display: flex;
  width: 189px;
  height: 60px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
}
.nav-buttons {
  border-radius: 48px;
  border: 1px solid #d3d3d3;
  background: var(--primary-bg-color);
  display: flex;
  width: 189px;
  height: 60px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
}
.section-usecase__navigtion-section {
  padding-bottom: 120px;
}

.section-usecase__content-side {
  display: flex;
  flex-direction: column;
}

.section-usecase__title {
  color: var(--primary-color) !important;
  font-size: 20px;
  font-weight: 600;
}
.section-usecase__des {
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 16px;
}
.section-usecase__point-title {
  font-size: 16px;
  font-weight: 700;
}
.section-usecase__point-des {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.section-usecase__point {
  display: flex;
  gap: 15px;
}
.section-usecase__point-box {
  padding-bottom: 10px;
}

.section-usecase__icon-box {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
}
.section-usecase__icon-box.blue {
  background-color: #585afb;
}
.section-usecase__icon-box.pink {
  background-color: #fde1e6;
}
.section-usecase__icon-box.yellow {
  background-color: #fdefd3;
}
.section-usecase__icon-box.light-blue {
  background-color: #dcf1fe;
}
.album-container img {
  width: 100%;
}

.section-features {
  padding: 0px 0px 160px 0px;
}

.section-features__navigation-section {
  padding: 30px 0px 60px 0px;
}
.section-features__slider-section {
  padding-bottom: 60px;
  overflow: hidden;
}

.section-features__sider-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.section-features__mainpulation-section {
  padding-bottom: 60px;
  align-items: center;
}
.section-features__des {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 0px;
}
.swiper-button-prev,
.swiper-button-next {
  position: static;
  color: transparent;
  display: flex;
  width: 60px;
  height: 60px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  margin-top: 0px;
}

.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none;
}

.section-features__slide {
  height: 450px;
  border-radius: 24px;
}
.section-features__slide.slide-1 {
  border: 0.6px solid #f0f9ff;
  background: #f0f9ff;
}
.section-features__slide.slide-2 {
  border: 0.6px solid #f1fff0;
  background: #f1fff0;
}
.section-features__slide.slide-3 {
  border: 0.6px solid #fcf0ff;
  background: #fcf0ff;
}
.section-features__slide.slide-4 {
  border: 0.6px solid #f0f9ff;
  background: #f0f9ff;
}
.section-features__content-section {
  padding: 40px 0px 10px 35px;
}
.section-features__slide-title {
  font-size: 20px;
  font-weight: 600;
}
.section-features__slide-des {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.section-features__img-type-1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.section-features__img-type-1 img {
  width: 470px;
  height: auto;
}
.section-features__img-type-2 img {
  width: 470px;
  height: auto;
}

.section-features__slide.slide-2 {
  display: flex;
  align-items: end;
}
.section-features__slide.slide-4 {
  display: flex;
  align-items: end;
}
.section-features__img-type-2 {
  position: absolute;
  top: -0.5px;
  right: 0px;
}
.section-about__icon-head img {
  width: 227px;
  height: auto;
}
.section-about__card-title.v2 {
  font-size: 16px;
  font-weight: 700;
  text-align: start;
}
.section-about__card-des.v2 {
  text-align: start;
}
.section-about__card.v2 {
  align-items: start;
  height: 420px;
}
.section-about__icon-head.v2 {
  padding-bottom: 30px;
}
/* security */
.section-security {
  padding-bottom: 390px;
}

/* faq */
/* FAQ Styles */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    padding 0.3s ease;
  margin-bottom: 30px;
}

.faq-card.active .faq-answer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.section-faq .question-text {
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
}
.section-faq .p-1 {
  color: #fff;
  font-size: 16px !important;
  font-weight: 400;
}
.faq-question {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 20px;
}

.arrow {
  transition: transform 0.3s ease;
  width: 24px;
  height: 24px;
}

.faq-card.active .arrow {
  transform: rotate(180deg);
}
.section-faq {
  background-color: var(--primary-color);
  margin-bottom: 160px;
  padding: 60px 0px 50px 0px;

  position: relative;
}
.section-faq__main-title {
  padding-bottom: 20px;
  color: #fff !important;
  font-size: 48px;
  font-weight: 700;
}
.section-faq__tag {
  display: flex;
  padding: 16px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  background-color: #f0f9ff;
  width: fit-content;
  margin-bottom: 18px;
}
.section-faq__tag p {
  margin-bottom: 0px;
  color: var(--primary-color) !important;
  font-size: 14px;
  font-weight: 700;
}

.section-faq__bg-rectangle {
  position: absolute;
  width: 760px;
  height: 620px;
  right: 0px;
  top: -120px;
}
.section-faq__lap-group {
  width: 420px;
  height: 308px;
}
.section-faq__title-ready {
  color: #fff !important;
  font-size: 36px !important;
  font-weight: 500 !important;
  padding-bottom: 4px;
}
.section-faq__des-ready {
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
  padding-bottom: 22px;
}
.section-faq__learn-more-content {
  position: absolute;
  top: 30%;
  right: -100px;
  transform: translate(-50%, -50%);
  z-index: 11;
}
.section-faq__contact-us-btn {
  display: flex;
  width: fit-content;
  height: auto;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  background: #fff;
  color: #497ff9 !important;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}
/* demo */
.section-demo {
  padding-bottom: 160px;
}
.section-demo__img-wrap img {
  width: 100%;
}
.section-demo__img-wrap {
  padding-top: 40px;
}

/* footer */
.section-footer__logo img {
  width: 230px;
  height: auto;
}
.section-footer__logo {
  padding-bottom: 34px;
}
.section-footer__footer-des {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.section-footer__title {
  color: #1a1817;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
  padding-bottom: 30px;
}
.section-footer__nav-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}
.section-footer__nav-list {
  padding-bottom: 16px;
}

.section-footer .point {
  display: flex;
  gap: 20px;
  /* align-items: center; */
}
.section-footer__title2 {
  margin-bottom: 0px;
  padding-bottom: 6px;
  color: #707190;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.section-footer__des2 {
  color: #a09c98 !important;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 0px;
}
.section-footer .point {
  padding-bottom: 17px;
}
.section-footer__top-section {
  padding-bottom: 45px;
}
.section-footer .footer-line {
  width: 90%;
  height: 0.6px;
  background: #d2d3d5;
}
.section-footer .footer-all-rights-des {
  padding: 30px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0px;
}
.section-footer .footer-all-rights-des span {
  color: var(--primary-color) !important;
}
.section-footer {
  background-color: var(--primary-bg-color);
  padding: 90px 0px 0px 0px;
  position: relative;
}
.section-footer__shape-maker-left {
  top: -0.5px;
  left: 0px;
  position: absolute;
}
.section-footer__shape-maker-right {
  top: -0.5px;
  right: 0px;
  position: absolute;
}
.section-footer .svg-warp {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  background-color: var(--tertiary-text-color);
  border-radius: 10px;
}
